<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<string>Emoji Hands</string>
	<key>detents</key>
	<dict>
		<key>0</key>
		<string>🖕</string>
		<key>1</key>
		<string>✌️</string>
		<key>2</key>
		<string>👎</string>
		<key>3</key>
		<string>🤞</string>
		<key>4</key>
		<string>👌</string>
		<key>5</key>
		<string>👍</string>
		<key>6</key>
		<string>🙏</string>
		<key>7</key>
		<string>👏</string>
		<key>8</key>
		<string>🤙</string>
		<key>9</key>
		<string>🙌</string>
	</dict>
	<key>title</key>
	<string>Emoji Hands</string>
</dict>
</plist>
